apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-app
spec:
  replicas:3
  selector:
    matchLabels:
    app: springboot
  template:
  metadata:
    labels:
     app: springboot
    spec:
     containers:
       - name: springboot
         image:
         ports:
           - containerPort:
          readinessProbe:
            httpGet:
            path: /actuator/health/readiness
            port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10